* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 10;
}

.logo a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 15px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}